extends ./template-part/layout.pug

block title
    title Frequency - Đồng Hồ Nam
    link(rel="stylesheet" href="./css/watch-list.css")

block banner
    .banner
        .banner__overlay
        .banner__content
            h1.banner__content-title ĐỒNG HỒ NAM
            h2.banner__content-subtitle SỰ TỰ TIN TRÊN CỔ TAY NGƯỜI ĐÀN ÔNG HIỆN ĐẠI

block content
    .main
        .container.path
            a.path__link(href="./index.html") TRANG CHỦ
            span.path__divide /
            span Đồng Hồ Nam
            .path__line

        .container.watch
            .row
                .col-lg-3
                    .watch__option
                        h1.watch__option-title DANH MỤC SẢN PHẨM

                        h2.watch__option-select.watch__option--btn
                            | Đồng Hồ Nam 
                            i.fas.fa-chevron-up
                        ul.watch__option-list 
                            li.watch__option-list-items
                                a(href="#") WEIMAR
                            li.watch__option-list-items
                                a(href="#") DETROIT
                            li.watch__option-list-items
                                a(href="#") JACKSON
                            li.watch__option-list-items
                                a(href="#") KASHMIR
                            li.watch__option-list-items
                                a(href="#") MYKONOS
                            li.watch__option-list-items
                                a(href="#") COLOSSEUM

                        h2.watch__option-select.watch__option--btn
                            | Dây Đồng Hồ 
                            i.fas.fa-chevron-up
                        ul.watch__option-list  
                            li.watch__option-list-items
                                a(href="#") Dây da Genuine
                            li.watch__option-list-items
                                a(href="#") Dây kim loại
                            li.watch__option-list-items
                                a(href="#") Dây thép không gỉ
                            li.watch__option-list-items
                                a(href="#") Dây cao su

                        h2.watch__option-select.watch__option--btn 
                            | Phụ Kiện
                            i.fas.fa-chevron-up
                        ul.watch__option-list 
                            li.watch__option-list-items
                                a(href="#") Nhẫn nam
                            li.watch__option-list-items
                                a(href="#") Vòng tay nam

                        h2.watch__option-select Kíck Thước Mặt 
                        .watch__option-size
                            .watch__option-size-number
                                | 38mm
                            .watch__option-size-number
                                | 39mm
                            .watch__option-size-number
                                | 40mm
                            .watch__option-size-number
                                | 42mm
                            .watch__option-size-number.watch__option-size--last
                                | 32x38mm

                        h2.watch__option-select.watch__option-select--align Màu Sắc
                        .watch__option-color
                            input(type="checkbox" id="silver")
                            label(for="silver") Silver
                        .watch__option-color
                            input(type="checkbox" id="rosegold")
                            label(for="rosegold") Rosegold
                        .watch__option-color
                            input(type="checkbox" id="black")
                            label(for="black") Black
                        .watch__option-color
                            input(type="checkbox" id="white")
                            label(for="white") White
                        .watch__option-color
                            input(type="checkbox" id="navy")
                            label(for="navy") Navy
                        .watch__option-color
                            input(type="checkbox" id="grey")
                            label(for="grey") Grey
                        .watch__option-color
                            input(type="checkbox" id="brown")
                            label(for="brown") Brown
                        .watch__option-color
                            input(type="checkbox" id="coffee")
                            label(for="coffee") Coffee
                        .watch__option-color
                            input(type="checkbox" id="sand")
                            label(for="sand") Sand
                        .watch__option-color
                            input(type="checkbox" id="gold")
                            label(for="gold") Gold

                .col-12.col-lg-9
                    .watch__filter
                        span.watch__filter-title Sắp xếp:
                        span.watch__filter-btn#filter
                            span#filter-content Phù Hợp Nhất
                            i.fas.fa-chevron-up.watch__filter-btn--icon
                            .watch__filter-options#filter-options
                                .watch__filter-options-link.active Phù Hợp Nhất
                                .watch__filter-options-link Giá Tăng Dần
                                .watch__filter-options-link Giá Giảm Dần

                    .row
                        - var items = [{img: "./img/watch-m1.jpg", style: "WEIMAR - 40MM", name: "STEFAN", price: "8.099.000 ₫"}, {img: "./img/watch-m2.jpg", style: "COLOSSEUM - 42MM", name: "MACE", price: "8.099.000 ₫"}, {img: "./img/watch-m3.jpg", style: "COLOSSEUM - 42MM", name: "GUANDAO", price: "9.299.000 ₫"}]

                        each card in items
                            .col-6.col-sm-4.d-flex.justify-content-center
                                .watch__product
                                    a(href="#").watch__product-img
                                        img(src= card.img alt= card.name)
                                    a(href="#").watch__product-info
                                        p.watch__product-info-style= card.style
                                        p.watch__product-info-name= card.name
                                        p.watch__product-info-price= card.price
                                    .watch__product-icon
                                        i.far.fa-heart.heart
                                    a(href="#").watch__product-btn
                                        svg(width='14' height='17' viewbox='0 0 14 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M13.9964 14.6951L12.9949 3.73374C12.9734 3.49039 12.7624 3.30613 12.5156 3.30613H10.4553C10.4267 1.47751 8.8886 0 7 0C5.11139 0 3.57333 1.47751 3.54471 3.30613H1.48441C1.23403 3.30613 1.02657 3.49039 1.00511 3.73374L0.00357698 14.6951C0.00357698 14.709 0 14.7229 0 14.7368C0 15.9849 1.1768 17 2.62545 17H11.3746C12.8232 17 14 15.9849 14 14.7368C14 14.7229 14 14.709 13.9964 14.6951ZM7 0.93865C8.35565 0.93865 9.46091 1.9955 9.48952 3.30613H4.51047C4.53909 1.9955 5.64435 0.93865 7 0.93865ZM11.3746 16.0613H2.62545C1.71691 16.0613 0.980072 15.4773 0.965764 14.7577L1.92437 4.24826H3.54113V5.67362C3.54113 5.93436 3.75575 6.14294 4.02402 6.14294C4.29228 6.14294 4.5069 5.93436 4.5069 5.67362V4.24826H9.48952V5.67362C9.48952 5.93436 9.70414 6.14294 9.97241 6.14294C10.2407 6.14294 10.4553 5.93436 10.4553 5.67362V4.24826H12.072L13.0342 14.7577C13.0199 15.4773 12.2795 16.0613 11.3746 16.0613Z' fill='white')
                                        | CHỌN MUA

                    
                        - var items = [{img: "./img/watch-m1.jpg", style: "WEIMAR - 40MM", name: "STEFAN", price: "8.099.000 ₫"}, {img: "./img/watch-m2.jpg", style: "COLOSSEUM - 42MM", name: "MACE", price: "8.099.000 ₫"}, {img: "./img/watch-m3.jpg", style: "COLOSSEUM - 42MM", name: "GUANDAO", price: "9.299.000 ₫"}]

                        each card in items
                            .col-6.col-sm-4.d-flex.justify-content-center
                                .watch__product
                                    a(href="#").watch__product-img
                                        img(src= card.img alt= card.name)
                                    a(href="#").watch__product-info
                                        p.watch__product-info-style= card.style
                                        p.watch__product-info-name= card.name
                                        p.watch__product-info-price= card.price
                                    .watch__product-icon
                                        i.far.fa-heart.heart
                                    a(href="#").watch__product-btn
                                        svg(width='14' height='17' viewbox='0 0 14 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M13.9964 14.6951L12.9949 3.73374C12.9734 3.49039 12.7624 3.30613 12.5156 3.30613H10.4553C10.4267 1.47751 8.8886 0 7 0C5.11139 0 3.57333 1.47751 3.54471 3.30613H1.48441C1.23403 3.30613 1.02657 3.49039 1.00511 3.73374L0.00357698 14.6951C0.00357698 14.709 0 14.7229 0 14.7368C0 15.9849 1.1768 17 2.62545 17H11.3746C12.8232 17 14 15.9849 14 14.7368C14 14.7229 14 14.709 13.9964 14.6951ZM7 0.93865C8.35565 0.93865 9.46091 1.9955 9.48952 3.30613H4.51047C4.53909 1.9955 5.64435 0.93865 7 0.93865ZM11.3746 16.0613H2.62545C1.71691 16.0613 0.980072 15.4773 0.965764 14.7577L1.92437 4.24826H3.54113V5.67362C3.54113 5.93436 3.75575 6.14294 4.02402 6.14294C4.29228 6.14294 4.5069 5.93436 4.5069 5.67362V4.24826H9.48952V5.67362C9.48952 5.93436 9.70414 6.14294 9.97241 6.14294C10.2407 6.14294 10.4553 5.93436 10.4553 5.67362V4.24826H12.072L13.0342 14.7577C13.0199 15.4773 12.2795 16.0613 11.3746 16.0613Z' fill='white')
                                        | CHỌN MUA
                    
                    
                        - var items = [{img: "./img/watch-m1.jpg", style: "WEIMAR - 40MM", name: "STEFAN", price: "8.099.000 ₫"}, {img: "./img/watch-m2.jpg", style: "COLOSSEUM - 42MM", name: "MACE", price: "8.099.000 ₫"}, {img: "./img/watch-m3.jpg", style: "COLOSSEUM - 42MM", name: "GUANDAO", price: "9.299.000 ₫"}]

                        each card in items
                            .col-6.col-sm-4.d-flex.justify-content-center
                                .watch__product
                                    a(href="#").watch__product-img
                                        img(src= card.img alt= card.name)
                                    a(href="#").watch__product-info
                                        p.watch__product-info-style= card.style
                                        p.watch__product-info-name= card.name
                                        p.watch__product-info-price= card.price
                                    .watch__product-icon
                                        i.far.fa-heart.heart
                                    a(href="#").watch__product-btn
                                        svg(width='14' height='17' viewbox='0 0 14 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M13.9964 14.6951L12.9949 3.73374C12.9734 3.49039 12.7624 3.30613 12.5156 3.30613H10.4553C10.4267 1.47751 8.8886 0 7 0C5.11139 0 3.57333 1.47751 3.54471 3.30613H1.48441C1.23403 3.30613 1.02657 3.49039 1.00511 3.73374L0.00357698 14.6951C0.00357698 14.709 0 14.7229 0 14.7368C0 15.9849 1.1768 17 2.62545 17H11.3746C12.8232 17 14 15.9849 14 14.7368C14 14.7229 14 14.709 13.9964 14.6951ZM7 0.93865C8.35565 0.93865 9.46091 1.9955 9.48952 3.30613H4.51047C4.53909 1.9955 5.64435 0.93865 7 0.93865ZM11.3746 16.0613H2.62545C1.71691 16.0613 0.980072 15.4773 0.965764 14.7577L1.92437 4.24826H3.54113V5.67362C3.54113 5.93436 3.75575 6.14294 4.02402 6.14294C4.29228 6.14294 4.5069 5.93436 4.5069 5.67362V4.24826H9.48952V5.67362C9.48952 5.93436 9.70414 6.14294 9.97241 6.14294C10.2407 6.14294 10.4553 5.93436 10.4553 5.67362V4.24826H12.072L13.0342 14.7577C13.0199 15.4773 12.2795 16.0613 11.3746 16.0613Z' fill='white')
                                        | CHỌN MUA

                        - var items = [{img: "./img/watch-m1.jpg", style: "WEIMAR - 40MM", name: "STEFAN", price: "8.099.000 ₫"}, {img: "./img/watch-m2.jpg", style: "COLOSSEUM - 42MM", name: "MACE", price: "8.099.000 ₫"}, {img: "./img/watch-m3.jpg", style: "COLOSSEUM - 42MM", name: "GUANDAO", price: "9.299.000 ₫"}]

                        each card in items
                            .col-6.col-sm-4.d-flex.justify-content-center
                                .watch__product
                                    a(href="#").watch__product-img
                                        img(src= card.img alt= card.name)
                                    a(href="#").watch__product-info
                                        p.watch__product-info-style= card.style
                                        p.watch__product-info-name= card.name
                                        p.watch__product-info-price= card.price
                                    .watch__product-icon
                                        i.far.fa-heart.heart
                                    a(href="#").watch__product-btn
                                        svg(width='14' height='17' viewbox='0 0 14 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M13.9964 14.6951L12.9949 3.73374C12.9734 3.49039 12.7624 3.30613 12.5156 3.30613H10.4553C10.4267 1.47751 8.8886 0 7 0C5.11139 0 3.57333 1.47751 3.54471 3.30613H1.48441C1.23403 3.30613 1.02657 3.49039 1.00511 3.73374L0.00357698 14.6951C0.00357698 14.709 0 14.7229 0 14.7368C0 15.9849 1.1768 17 2.62545 17H11.3746C12.8232 17 14 15.9849 14 14.7368C14 14.7229 14 14.709 13.9964 14.6951ZM7 0.93865C8.35565 0.93865 9.46091 1.9955 9.48952 3.30613H4.51047C4.53909 1.9955 5.64435 0.93865 7 0.93865ZM11.3746 16.0613H2.62545C1.71691 16.0613 0.980072 15.4773 0.965764 14.7577L1.92437 4.24826H3.54113V5.67362C3.54113 5.93436 3.75575 6.14294 4.02402 6.14294C4.29228 6.14294 4.5069 5.93436 4.5069 5.67362V4.24826H9.48952V5.67362C9.48952 5.93436 9.70414 6.14294 9.97241 6.14294C10.2407 6.14294 10.4553 5.93436 10.4553 5.67362V4.24826H12.072L13.0342 14.7577C13.0199 15.4773 12.2795 16.0613 11.3746 16.0613Z' fill='white')
                                        | CHỌN MUA

                                 


block javascript
    script(src="./js/watch-list.js")