<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Chi tiết thẻ</title>
    <link rel="stylesheet" href="views\style.css">
</head>

<body>
    <div>
        <h1>Chỉnh sửa thẻ</h1>
        <form method="POST" action="/updateCard">
            <%  result.forEach((result, index )=> { %>
            <input type="hidden" id="ID" name="ID" value="<%= result.ID %>" placeholder="ID">
            <input type="text" id="Name" name="name" value="<%= result.name %>" placeholder="Name">
            <input type="text" id="Image" name="image" value="<%= result.image %>" placeholder="Image">
            <input type="text" id="Weight" name="weight" value="<%= result.weight %>" placeholder="weight">
            <input type="text" id="Old" name="old" value="<%= result.old %>" placeholder="old">
            <input type="text" id="Sex" name="sex" value="<%= result.sex %>" placeholder="sex">
            <button type="submit">Cập nhật thẻ</button>
          
        </form>
        <form method="POST" action="/delete">
            <input type="hidden" id="ID" name="ID" value="<%= result.ID %>" placeholder="ID">
            <button type="submit">Xoá thẻ</button>
        </form>
        <% }); %>
    </div>
</body>

</html>